.wrapper{
    border: none;
}

.cardOne, .cardTwo, .cardThree, .cardFour{
    border: solid black 1px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    float: left;
}

